h1= welcome
section.css-table
  section.two-column
    section.cell
      h2 Section one here
      p
    section.cell
      h2 Section two here 
      p
  section.css-table
  section.three-column
    


